{
  "presets": [ "es2015", "stage-0", "react"],

  /* if you want to use babel runtime, uncomment the following line */
  // "plugins": ["transform-runtime"],

  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  },
//  使用antd需要配置下面这一行
  "plugins": [["import", { "libraryName": "antd", "style": "css" }]]
}
